.logo {
    width: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    background-color: white !important;
}

/* Ensure the logo remains centered */
@media (max-width: 992px) {
    .logo {
        position: absolute;
        top: 10px; /* Adjust as needed */
        width: 13%;
    }
}
